In [15]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yf

In [2]:
yf.pdr_override()

In [4]:
data = pd.DataFrame(yf.download('BTC', interval='1h'))

[*********************100%***********************]  1 of 1 completed

In [5]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
2021-04-15 15:30:00-04:00,99.008301,99.008301,99.008301,99.008301,99.008301,0
2021-04-16 09:30:00-04:00,100.889999,100.889999,99.008301,99.970001,99.970001,1658
2021-04-16 10:30:00-04:00,99.419998,99.419998,98.769997,98.769997,98.769997,489
2021-04-16 11:30:00-04:00,99.410004,99.410004,99.410004,99.410004,99.410004,636
2021-04-16 12:30:00-04:00,99.279999,99.307404,99.279999,99.307404,99.307404,284

In [12]:
ndaq = pd.DataFrame(fdr.DataReader('IXIC', '2000'))

C:\Users\kevin\anaconda3\envs\trader\lib\site-packages\FinanceDataReader\data.py:47: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(more)

In [25]:
GOLD = pd.DataFrame(fdr.DataReader('ZG', '2021'), parse_dates=['Date'], index_col='Date')
NDAQ = pd.DataFrame(fdr.DataReader('IXIC', '2021'), parse_dates=['Date'], index_col='Date')
US10YT = pd.DataFrame(fdr.DataReader('US10YT=X', '2021'), parse_dates=['Date'], index_col='Date')
VIX = pd.DataFrame(fdr.DataReader('VIX', '2021'), parse_dates=['Date'], index_col='Date')

TypeError: __init__() got an unexpected keyword argument 'parse_dates'

In [13]:
ndaq.head()

              Close     Open     High      Low        Volume  Change
Date
2006-06-15  2144.15  2098.37  2147.91  2086.00  1.610000e+09  0.0279
2006-06-16  2129.95  2140.51  2144.15  2122.78  1.990000e+09 -0.0066
2006-06-19  2110.42  2136.60  2138.77  2104.38  1.250000e+09 -0.0092
2006-06-20  2107.06  2110.92  2126.72  2103.77  1.250000e+09 -0.0016
2006-06-21  2141.20  2109.22  2152.56  2107.06  1.420000e+09  0.0162

In [14]:
ndaq.to_csv('./data/ndaq_long.csv')

In [21]:
btc = pd.DataFrame(fdr.DataReader('BTC/USD', '2021'))

In [22]:
btc = btc.iloc[:, 0:6]

In [23]:
btc.head()

              Close     Open     High      Low    Volume  Change
Date
2021-01-01  29359.9  28951.7  29627.1  28712.4  100900.0  0.0142
2021-01-02  32193.3  29359.7  33233.5  29008.0  240870.0  0.0965
2021-01-03  32958.9  32192.9  34755.9  32029.6  155210.0  0.0238
2021-01-04  32022.6  33016.6  33587.5  28204.5  255270.0 -0.0284
2021-01-05  33991.5  32015.4  34414.7  30010.5  202130.0  0.0615

In [68]:
btc.to_csv('./data/BTC.csv')

In [61]:
# gold = pd.DataFrame(fdr.DataReader('ZG', '2010-07-18'))
# nasdaq = pd.DataFrame(fdr.DataReader('IXIC', '2010-07-18'))
# us10yt = pd.DataFrame(fdr.DataReader('US10YT=X', '2010-07-18'))
# vix = pd.DataFrame(fdr.DataReader('VIX', '2010-07-18'))

In [64]:
list = ['ZG', 'IXIC', 'VIX'] # 'US10YT=X', 
for name in list:
    df = pd.DataFrame(fdr.DataReader(name, '2010-07-18'))
#     df = df[['Close', 'Open', 'High', 'Low', 'Volume']]
    df.to_csv('./data/'+name+'.csv')

US10YT = pd.DataFrame(fdr.DataReader('US10YT=X', '2010-07-18'))

US10YT.to_csv('./data/US10YT.csv')

In [41]:
Y = np.where(btc['Close'].shift(-1) > btc['Open'].shift(-1), 1, -1)

In [42]:
Y

array([ 1, -1, -1, ...,  1, -1, -1])

In [34]:
btc['target'] = np.where(btc['Change'] > 0 , 1, -1)

In [35]:
btc.head()

            Close  Open  High  Low   Volume  Change  target
Date
2012-04-13    4.9   4.9   4.9  4.7  93110.0  0.0000      -1
2012-04-14    5.0   4.9   5.0  4.9  63890.0  0.0000      -1
2012-04-15    5.0   5.0   5.0  4.9  33340.0  0.0000      -1
2012-04-16    4.9   5.0   5.0  4.9  31160.0  0.0000      -1
2012-04-17    5.0   4.9   5.0  4.9  30650.0  0.0101       1

In [36]:
btc.tail()

              Close     Open     High      Low       Volume  Change  target
Date
2022-04-09  42767.0  42275.0  42809.0  42129.0  165160000.0  0.0116       1
2022-04-10  42138.0  42760.0  43421.0  41884.0  255830000.0 -0.0147      -1
2022-04-11  39497.0  42144.0  42418.0  39202.0  608380000.0 -0.0627      -1
2022-04-12  40078.0  39507.0  40678.0  39265.0  468270000.0  0.0147       1
2022-04-13  39902.0  40072.0  40267.0  39581.0  409870000.0 -0.0044      -1

In [15]:
btc.isna().value_counts()

Close  Open   High   Low    Volume  Change  target
False  False  False  False  False   False   False     4282
dtype: int64