In [1]:
from binance.client import Client
import re
import pandas as pd
from datetime import datetime

In [2]:
client = Client()
all_tickers = client.futures_symbol_ticker()
symbols = [x['symbol'] for x in all_tickers]
symbols = [symbol for symbol in symbols if symbol.endswith('USDT')]

In [3]:
print(len(symbols))
print(symbols)

141
['IOTXUSDT', 'XLMUSDT', 'OMGUSDT', 'BALUSDT', 'XTZUSDT', 'ARUSDT', 'DENTUSDT', 'GALAUSDT', 'ONTUSDT', 'ANTUSDT', 'BNBUSDT', 'DODOUSDT', 'DEFIUSDT', 'ATOMUSDT', 'CRVUSDT', 'RAYUSDT', 'COTIUSDT', 'ALPHAUSDT', 'AXSUSDT', 'ATAUSDT', 'KNCUSDT', 'RENUSDT', 'C98USDT', 'DASHUSDT', 'KLAYUSDT', 'ZECUSDT', 'STMXUSDT', 'CHRUSDT', 'RLCUSDT', 'IOSTUSDT', 'GMTUSDT', 'RUNEUSDT', '1INCHUSDT', 'CELOUSDT', 'AAVEUSDT', 'ANKRUSDT', 'CTSIUSDT', 'CVCUSDT', 'XMRUSDT', 'PEOPLEUSDT', 'ARPAUSDT', 'LTCUSDT', 'FILUSDT', 'REEFUSDT', 'BCHUSDT', 'CTKUSDT', 'ROSEUSDT', 'ONEUSDT', 'TOMOUSDT', 'ANCUSDT', 'FLOWUSDT', 'NEARUSDT', 'AKROUSDT', 'BTCUSDT', 'KAVAUSDT', 'LUNAUSDT', 'FTMUSDT', 'SCUSDT', 'DYDXUSDT', 'SXPUSDT', 'HBARUSDT', 'ZRXUSDT', 'ENSUSDT', 'SOLUSDT', '1000XECUSDT', 'XRPUSDT', 'BELUSDT', 'ADAUSDT', 'FLMUSDT', 'SKLUSDT', 'OCEANUSDT', 'ICPUSDT', 'ALICEUSDT', 'DOGEUSDT', 'DUSKUSDT', 'CHZUSDT', 'VETUSDT', 'BLZUSDT', 'MASKUSDT', 'RVNUSDT', 'SUSHIUSDT', 'APEUSDT', 'ICXUSDT', 'STORJUSDT', 'ENJUSDT', 'HNTUSDT', 'DGBUSDT', 'LINAUSDT', 'IOTAUSDT', 'NEOUSDT', 'LPTUSDT', 'ALGOUSDT', 'UNIUSDT', 'TRBUSDT', 'MTLUSDT', 'WOOUSDT', 'EGLDUSDT', 'TRXUSDT', 'NKNUSDT', 'RSRUSDT', 'DOTUSDT', 'AUDIOUSDT', 'BANDUSDT', 'ZILUSDT', 'LITUSDT', 'BAKEUSDT', 'LINKUSDT', 'WAVESUSDT', 'BATUSDT', 'YFIUSDT', 'BNXUSDT', 'AVAXUSDT', 'GTCUSDT', 'MANAUSDT', 'ETCUSDT', 'UNFIUSDT', 'MKRUSDT', 'COMPUSDT', 'XEMUSDT', 'ETHUSDT', 'SANDUSDT', 'IMXUSDT', 'GRTUSDT', 'QTUMUSDT', 'OGNUSDT', 'KSMUSDT', 'BTCDOMUSDT', 'CELRUSDT', 'BTSUSDT', 'ZENUSDT', 'LRCUSDT', 'THETAUSDT', '1000SHIBUSDT', 'EOSUSDT', 'SRMUSDT', 'HOTUSDT', 'API3USDT', 'TLMUSDT', 'MATICUSDT', 'SNXUSDT', 'SFPUSDT']

In [4]:
df = pd.DataFrame(client.futures_klines(symbol=symbols[0], interval='1d', limit=1500))
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1628726400000,0.13700,0.14403,0.10159,0.11128,2832815786,1628812799999,334234515.61961,1077142,1454437406,171902995.61131,0
1,1628812800000,0.11132,0.11553,0.09710,0.09935,2359730649,1628899199999,248921486.93655,772867,1086956815,114857326.78228,0
2,1628899200000,0.09935,0.10440,0.08905,0.09194,1646924471,1628985599999,155824184.51159,423444,724504082,68534356.35115,0
3,1628985600000,0.09194,0.09319,0.08130,0.08614,1602588883,1629071999999,138207808.21243,359016,717543664,61829108.00270,0
4,1629072000000,0.08614,0.10292,0.08389,0.08707,2633338320,1629158399999,245688998.30178,598438,1223159198,114311724.81501,0

In [5]:
columns = ['time', 'open', 'high', 'low', 'close', 'volume']
FOUR_HOURS ='4h'
ONE_DAY = '1d'

In [7]:
for symbol in symbols:
    df = pd.DataFrame(client.futures_klines(symbol=symbol, interval=FOUR_HOURS))
    df2 = pd.DataFrame(client.futures_klines(symbol=symbol, interval=ONE_DAY))
    df = df.iloc[:, 0:6]
    df.columns = columns
    df['time'] = pd.to_datetime(df['time'], unit='ms')
    df2 = df2.iloc[:, 0:6]
    df2.columns = columns
    df2['time'] = pd.to_datetime(df2['time'], unit='ms')
    df.to_csv('./data/'+symbol+FOUR_HOURS+'.csv')
    df2.to_csv('./data/'+symbol+ONE_DAY+'.csv')